.about {
  background: $background-section;
  &__content {
    background: $color-static-white;
    border-radius: $border-radius;
    @include flex-row();
    @include big-phone {
      @include flex-column();
    }
  }
  &__text {
    width: 50%;
    padding: 0 60px;
    @include big-phone {
      width: 100%;
      padding: 0 20px;
    }
  }
  &__article {
    @include flex-column($ai: flex-start, $gap: 20px);
    &-title {
      color: $color-primary;
    }
  }
  &__image {
    width: 50%;
    @include flex-row($jc: center);
    border-radius: $border-radius;
    overflow: hidden;
    @include big-phone {
      width: 100%;
    }
    img {
      display: block;
      height:  100%;
    }
  }
}