.burger {
  width: 40px;
  height: 40px;
  @include reset_button;
  display: none;
  @include tablet {
    @include flex-column($gap: 6px);
  }
  &-item {
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: $color-dark;
    transform: rotate(0deg);
    transition: $transition-duration;
  }
  &.burger-rotated {
    .burger-item:first-child {
      transform: translate(0, 4px) rotate(45deg);
    }
    .burger-item:last-child {
      transform: translate(0, -4px) rotate(-45deg);
    }
  }
}