.burger-menu {
  overflow: hidden;
  position: fixed;
  top: 60px;
  @include flex-column();
  width: 100%;
  height: 100%;
  border: none;
  transform: translate(100%, 0);
  transition: $transition-duration;
  .header__menu-list {
    position: relative;
    top: -28px;
    @include flex-column($gap: 32px);
  }
  &.show_menu {
    transform: translate(0, 0);
  }
}
