*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #181C29;
  background-color: #FFF;
}

.header1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}

.header2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.header3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.header4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0em;
  text-transform: none;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.caption {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: none;
  font-family: "Allura", sans-serif;
}

.slider_text {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.004em;
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.header__container {
  padding: 0 8px;
}

.section-container {
  padding: 60px 8px;
}

.content {
  max-width: 1276px;
  margin: 0 auto;
}

.inner-container {
  max-width: 426px;
  padding: 60px 0;
}

a,
button,
svg * {
  transition-duration: 0.7s;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.main {
  background-color: #FF4646;
  border-radius: 20px;
}

body {
  width: 100%;
  transition: position 1s;
}
body.body-fixed {
  position: fixed;
}
body.modal-open {
  overflow: hidden;
  background-color: rgba(24, 28, 41, 0.8);
}

.header {
  padding: 12px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.header__menu-link {
  padding: 12px 20px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: #FF4646;
    background-color: rgba(255, 70, 70, 0.1);
    border-radius: 12px;
  }
}
.header__menu-link.active-link {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.button {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181C29;
}
@media (hover: hover) {
  .button:hover {
    color: #181C29;
    background-color: #FFF;
  }
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}
.burger-item {
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #181C29;
  transform: rotate(0deg);
  transition: 0.7s;
}
.burger.burger-rotated .burger-item:first-child {
  transform: translate(0, 4px) rotate(45deg);
}
.burger.burger-rotated .burger-item:last-child {
  transform: translate(0, -4px) rotate(-45deg);
}

.hero {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-ball.png") center/cover no-repeat, url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-snow.png") center/cover no-repeat;
  color: #FFF;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}
.hero__title {
  text-align: center;
}

.about {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-snow.png") center/cover no-repeat;
}
.about__content {
  background: #FFF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
@media (max-width: 600px) {
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
.about__text {
  width: 50%;
  padding: 0 60px;
}
@media (max-width: 600px) {
  .about__text {
    width: 100%;
    padding: 0 20px;
  }
}
.about__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.about__article-title {
  color: #FF4646;
}
.about__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .about__image {
    width: 100%;
  }
}
.about__image img {
  display: block;
  height: 100%;
}

.slider {
  overflow: hidden;
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-snow.png") center/cover no-repeat;
  color: #FFF;
}
.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button-arrow {
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #FFF;
  background: none;
}
.button-arrow[disabled] {
  border-color: rgba(255, 255, 255, 0.4);
}
.button-arrow[disabled] path {
  stroke-opacity: 0.4;
}
@media (hover: hover) {
  .button-arrow:not([disabled]):hover {
    background-color: #FFF;
    cursor: pointer;
  }
  .button-arrow:not([disabled]):hover path {
    stroke: #FF4646;
  }
}

.slider-row {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.slider-row-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.slider-row-image img {
  display: block;
  border-radius: 20px;
}

.slider__buttons {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.bestgifts {
  overflow: hidden;
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-snow.png") center/cover no-repeat;
}
.bestgifts__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.bestgifts__text {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.bestgifts__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.cta {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-forest.png") center/cover no-repeat, url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-snow.png") center/cover no-repeat;
}
.cta__content {
  padding: 60px 0;
}
.cta__content-inner {
  margin: 0 auto;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cta__title {
  text-align: center;
}
.cta__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.timer {
  width: 344px;
  height: 72px;
  padding: 8px 12px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.timer-item {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.timer .separator {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.footer__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1060px) {
  .footer__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__text-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__text-socials .social-item {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.footer__text-socials .social-item path {
  transition-duration: 0.7s;
}
@media (hover: hover) {
  .footer__text-socials .social-item:hover {
    cursor: pointer;
  }
  .footer__text-socials .social-item:hover path {
    stroke: #FF4646;
  }
}
@media (hover: hover) {
  .footer__text a:hover {
    color: #FF4646;
  }
}

.footer-card {
  width: calc((100% - 24px) / 3);
  border-radius: 20px;
  background-color: #ECF3F8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1060px) {
  .footer-card {
    width: 100%;
  }
}
.footer-card-action, .footer-card-title {
  transition-duration: 0.7s;
}
.footer-card-image {
  width: 80px;
  height: 80px;
}
.footer-card-image.card-phone {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/svg/santa-claus.svg") center/cover no-repeat;
}
.footer-card-image.card-map {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/svg/christmas-tree.svg") center/cover no-repeat;
}
.footer-card-image.card-mail {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/svg/snake.svg") center/cover no-repeat;
}
@media (hover: hover) {
  .footer-card:hover .footer-card-action,
  .footer-card:hover .footer-card-title {
    color: #FF4646;
  }
}

.gifts {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/bg-garland.png") top/contain no-repeat;
  color: #FFF;
}
.gifts__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gifts__title {
  max-width: 426px;
  text-align: center;
}
.gifts__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
@media (max-width: 600px) {
  .gifts__menu-list {
    gap: 0px;
  }
}
.gifts__menu-link {
  color: #FFF;
  display: inline-block;
  padding: 12px 20px;
}
@media (max-width: 600px) {
  .gifts__menu-link {
    padding: 12px 8px;
  }
}
@media (hover: hover) {
  .gifts__menu-link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
  }
}
.gifts__menu-link.active-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  cursor: default;
}
.gifts__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  row-gap: 12px;
}

.card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: #ECF3F8;
  transition-duration: 0.7s;
}
.card-image {
  width: 100%;
  height: 230px;
}
.card-text {
  background-color: #FFF;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: calc(100% - 230px);
}
.card-title {
  transition-duration: 0.7s;
  color: #181C29;
}
.card.for-work .card-image {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/gift-for-work.png") center/cover no-repeat;
}
.card.for-work .card-tag {
  color: #4361FF;
}
.card.for-health .card-image {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/gift-for-health.png") center/cover no-repeat;
}
.card.for-health .card-tag {
  color: #06A44F;
}
.card.for-harmony .card-image {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/images/gift-for-harmony.png") center/cover no-repeat;
}
.card.for-harmony .card-tag {
  color: #FF43F7;
}
@media (hover: hover) {
  .card:hover {
    cursor: pointer;
  }
  .card:hover .card-title {
    color: #FF4646;
  }
}

.burger-menu {
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  border: none;
  transform: translate(100%, 0);
  transition: 0.7s;
}
.burger-menu .header__menu-list {
  position: relative;
  top: -28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.burger-menu.show_menu {
  transform: translate(0, 0);
}
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

.button_up {
  display: none;
  width: 56px;
  height: 56px;
  border: 1px solid #FF4646;
  border-radius: 50%;
  background-color: #FFF;
  position: fixed;
  bottom: 8px;
  right: 8px;
}
@media (max-width: 768px) {
  .button_up.show-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}

.card_modal {
  width: auto;
  height: auto;
  max-width: 400px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (hover: hover) {
  .card_modal:hover {
    cursor: default;
  }
  .card_modal:hover .card-title {
    color: #181C29;
  }
}
.card_modal .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.card_modal .burger-item {
  width: 75%;
}
@media (hover: hover) {
  .card_modal .burger:hover {
    cursor: pointer;
  }
}
.card_modal .card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}
.card_modal .card-text-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.card_modal .superpowers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
}
.card_modal .superpowers-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
  align-content: space-between;
}
.card_modal .superpowers-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.card_modal .superpowers-name {
  flex-grow: 2;
}
.card_modal .superpowers-snows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.card_modal .superpowers-snows .snow {
  width: 16px;
  height: 16px;
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/svg/snowflake-sm-l.svg");
}
.card_modal .superpowers-snows .snow-bright {
  background: url("/annaulazar-JSFE2024Q4/christmas-shop/svg/snowflake-sm.svg");
}

.modal-fon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 28, 41, 0.8);
  z-index: 1;
  display: none;
}

/*# sourceMappingURL=style.css.map */
